docs/n8n-workflows/lead-temperature-followup.json
{
  "name": "Lead temperature — WhatsApp (Hot now / Warm 10m / Cold 24h)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-temperature-followup",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-temp",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "lead-temperature-followup"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body ?? $input.first().json;\nconst raw = String(b.status ?? 'Warm').trim().toLowerCase();\nconst map = { hot: 'Hot', warm: 'Warm', cold: 'Cold' };\nconst status = map[raw] ?? 'Warm';\nconst name = String(b.name ?? 'there').trim() || 'there';\nconst phone = String(b.phone ?? '').replace(/\\D/g, '');\nconst followup = `Hi ${name}, just following up regarding your inquiry.`;\nreturn [{ json: { phone, name, lead_id: b.lead_id, user_id: b.user_id, status, followup_text: followup, message: b.message, reason: b.reason } }];"
      },
      "id": "normalize-temp",
      "name": "Normalize payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c-hot",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Hot",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Hot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c-warm",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Warm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Warm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c-cold",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Cold",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Cold"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-temp",
      "name": "Branch by status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: $json.followup_text } }) }}"
      },
      "id": "send-hot",
      "name": "Send WhatsApp (Hot — immediate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 160],
      "notesInFlow": true,
      "notes": "Disable this node if your backend already sends an immediate AI reply; keep Warm/Cold only."
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 10,
        "unit": "minutes"
      },
      "id": "wait-10m",
      "name": "Wait 10 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [780, 400],
      "webhookId": "wait-10m-temp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: $json.followup_text } }) }}"
      },
      "id": "send-warm",
      "name": "Send WhatsApp (Warm follow-up)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 400]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 24,
        "unit": "hours"
      },
      "id": "wait-24h",
      "name": "Wait 24 hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [780, 640],
      "webhookId": "wait-24h-temp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: $json.followup_text } }) }}"
      },
      "id": "send-cold",
      "name": "Send WhatsApp (Cold follow-up)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 640]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Normalize payload", "type": "main", "index": 0 }]]
    },
    "Normalize payload": {
      "main": [[{ "node": "Branch by status", "type": "main", "index": 0 }]]
    },
    "Branch by status": {
      "main": [
        [{ "node": "Send WhatsApp (Hot — immediate)", "type": "main", "index": 0 }],
        [{ "node": "Wait 10 minutes", "type": "main", "index": 0 }],
        [{ "node": "Wait 24 hours", "type": "main", "index": 0 }]
      ]
    },
    "Wait 10 minutes": {
      "main": [[{ "node": "Send WhatsApp (Warm follow-up)", "type": "main", "index": 0 }]]
    },
    "Wait 24 hours": {
      "main": [[{ "node": "Send WhatsApp (Cold follow-up)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
