docs/n8n-workflows/whatsapp-followup-drip.json
{
  "name": "WhatsApp follow-up drip (2h / 24h)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-followup-drip",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Start (webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "whatsapp-followup-drip"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "phone",
              "value": "={{ $json.body.phone || $json.body.to }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "lead_id",
              "value": "={{ $json.body.lead_id }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "first_message",
              "value": "={{ $json.body.first_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-fields",
      "name": "Normalize payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: $json.first_message } }) }}"
      },
      "id": "send-first-wa",
      "name": "Send first WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "notesInFlow": true,
      "notes": "Uses Meta Cloud API. Phone must be digits only (e.g. 923001234567)."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst i = items[0].json;\nconst started = new Date().toISOString();\nreturn [{ json: { ...i, sequence_started_at: started } }];"
      },
      "id": "stamp-start",
      "name": "Set sequence_started_at",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.SUPABASE_PROJECT_REF }}.supabase.co/rest/v1/whatsapp_followup_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.lead_id, user_id: $json.user_id, phone: $json.phone, sequence_started_at: $json.sequence_started_at, status: 'awaiting_second_window' }) }}"
      },
      "id": "supabase-insert-run",
      "name": "Supabase: insert followup run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const run = $input.first().json;\nconst row = Array.isArray(run) ? run[0] : run;\nconst prev = $('Set sequence_started_at').item.json;\nreturn [{ json: { ...prev, followup_run_id: row.id } }];"
      },
      "id": "merge-run-id",
      "name": "Merge followup_run_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [990, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.SUPABASE_PROJECT_REF }}.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, lead_id: $json.lead_id, phone: $json.phone, message: $json.first_message, is_from_customer: false }) }}"
      },
      "id": "supabase-outbound-1",
      "name": "Supabase: log first outbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 2,
        "unit": "hours"
      },
      "id": "wait-2h",
      "name": "Wait 2 hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1320, 300],
      "webhookId": "wait-2h-followup"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $env.SUPABASE_PROJECT_REF }}.supabase.co/rest/v1/messages?select=id&lead_id=eq.{{ $('Merge followup_run_id').item.json.lead_id }}&is_from_customer=eq.true&created_at=gt.{{ $('Merge followup_run_id').item.json.sequence_started_at }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-reply-1",
      "name": "Supabase: any inbound after first?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst rows = Array.isArray(raw) ? raw : (raw.body ?? raw.data ?? []);\nconst m = $('Merge followup_run_id').item.json;\nreturn [{ json: { hasReply: Array.isArray(rows) && rows.length > 0, followup_run_id: m.followup_run_id, phone: m.phone, lead_id: m.lead_id, user_id: m.user_id, sequence_started_at: m.sequence_started_at, first_message: m.first_message } }];"
      },
      "id": "parse-reply-1",
      "name": "Parse reply check 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.hasReply }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-reply-1",
      "name": "IF customer replied?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{ $env.SUPABASE_PROJECT_REF }}.supabase.co/rest/v1/whatsapp_followup_runs?id=eq.{{ $json.followup_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'stopped_customer_replied', updated_at: new Date().toISOString() }) }}"
      },
      "id": "stop-replied-1",
      "name": "Supabase: status stopped (replied)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Parse reply check 1').item.json.phone, type: 'text', text: { body: 'Just checking in, did you get my last message?' } }) }}"
      },
      "id": "send-second-wa",
      "name": "Send second WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 420]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Parse reply check 1').item.json;\nreturn [{ json: { ...p, second_message_sent_at: new Date().toISOString() } }];"
      },
      "id": "stamp-second",
      "name": "Set second_message_sent_at",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.SUPABASE_PROJECT_REF }}.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $('Set second_message_sent_at').item.json.user_id, lead_id: $('Set second_message_sent_at').item.json.lead_id, phone: $('Set second_message_sent_at').item.json.phone, message: 'Just checking in, did you get my last message?', is_from_customer: false }) }}"
      },
      "id": "log-second-outbound",
      "name": "Supabase: log second outbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 420]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{ $env.SUPABASE_PROJECT_REF }}.supabase.co/rest/v1/whatsapp_followup_runs?id=eq.{{ $('Set second_message_sent_at').item.json.followup_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ second_message_sent_at: $('Set second_message_sent_at').item.json.second_message_sent_at, status: 'awaiting_final_window', updated_at: new Date().toISOString() }) }}"
      },
      "id": "patch-run-second",
      "name": "Supabase: patch run after 2nd",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 420]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 24,
        "unit": "hours"
      },
      "id": "wait-24h",
      "name": "Wait 24 hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3080, 420],
      "webhookId": "wait-24h-followup"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $env.SUPABASE_PROJECT_REF }}.supabase.co/rest/v1/messages?select=id&lead_id=eq.{{ $('Set second_message_sent_at').item.json.lead_id }}&is_from_customer=eq.true&created_at=gt.{{ $('Set second_message_sent_at').item.json.second_message_sent_at }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        }
      },
      "id": "check-reply-2",
      "name": "Supabase: inbound after second?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, 420]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst rows = Array.isArray(raw) ? raw : (raw.body ?? []);\nconst prev = $('Set second_message_sent_at').item.json;\nreturn [{ json: { hasReply: Array.isArray(rows) && rows.length > 0, followup_run_id: prev.followup_run_id, phone: prev.phone, lead_id: prev.lead_id, user_id: prev.user_id } }];"
      },
      "id": "parse-reply-2",
      "name": "Parse reply check 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.hasReply }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-reply-2",
      "name": "IF replied after 2nd?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3740, 420]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{ $env.SUPABASE_PROJECT_REF }}.supabase.co/rest/v1/whatsapp_followup_runs?id=eq.{{ $json.followup_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'stopped_customer_replied', updated_at: new Date().toISOString() }) }}"
      },
      "id": "stop-replied-2",
      "name": "Supabase: stopped (replied after 2nd)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3960, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Parse reply check 2').item.json.phone, type: 'text', text: { body: \"Last follow-up 😊 Let me know if you're interested.\" } }) }}"
      },
      "id": "send-final-wa",
      "name": "Send final WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3960, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.SUPABASE_PROJECT_REF }}.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $('Parse reply check 2').item.json.user_id, lead_id: $('Parse reply check 2').item.json.lead_id, phone: $('Parse reply check 2').item.json.phone, message: \"Last follow-up 😊 Let me know if you're interested.\", is_from_customer: false }) }}"
      },
      "id": "log-final-outbound",
      "name": "Supabase: log final outbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4180, 520]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{ $env.SUPABASE_PROJECT_REF }}.supabase.co/rest/v1/whatsapp_followup_runs?id=eq.{{ $('Parse reply check 2').item.json.followup_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ final_message_sent_at: new Date().toISOString(), status: 'completed_no_reply', updated_at: new Date().toISOString() }) }}"
      },
      "id": "patch-final",
      "name": "Supabase: completed (no reply)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4400, 520]
    }
  ],
  "connections": {
    "Start (webhook)": {
      "main": [[{ "node": "Normalize payload", "type": "main", "index": 0 }]]
    },
    "Normalize payload": {
      "main": [[{ "node": "Send first WhatsApp", "type": "main", "index": 0 }]]
    },
    "Send first WhatsApp": {
      "main": [[{ "node": "Set sequence_started_at", "type": "main", "index": 0 }]]
    },
    "Set sequence_started_at": {
      "main": [[{ "node": "Supabase: insert followup run", "type": "main", "index": 0 }]]
    },
    "Supabase: insert followup run": {
      "main": [[{ "node": "Merge followup_run_id", "type": "main", "index": 0 }]]
    },
    "Merge followup_run_id": {
      "main": [[{ "node": "Supabase: log first outbound", "type": "main", "index": 0 }]]
    },
    "Supabase: log first outbound": {
      "main": [[{ "node": "Wait 2 hours", "type": "main", "index": 0 }]]
    },
    "Wait 2 hours": {
      "main": [[{ "node": "Supabase: any inbound after first?", "type": "main", "index": 0 }]]
    },
    "Supabase: any inbound after first?": {
      "main": [[{ "node": "Parse reply check 1", "type": "main", "index": 0 }]]
    },
    "Parse reply check 1": {
      "main": [[{ "node": "IF customer replied?", "type": "main", "index": 0 }]]
    },
    "IF customer replied?": {
      "main": [
        [{ "node": "Supabase: status stopped (replied)", "type": "main", "index": 0 }],
        [{ "node": "Send second WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Send second WhatsApp": {
      "main": [[{ "node": "Set second_message_sent_at", "type": "main", "index": 0 }]]
    },
    "Set second_message_sent_at": {
      "main": [[{ "node": "Supabase: log second outbound", "type": "main", "index": 0 }]]
    },
    "Supabase: log second outbound": {
      "main": [[{ "node": "Supabase: patch run after 2nd", "type": "main", "index": 0 }]]
    },
    "Supabase: patch run after 2nd": {
      "main": [[{ "node": "Wait 24 hours", "type": "main", "index": 0 }]]
    },
    "Wait 24 hours": {
      "main": [[{ "node": "Supabase: inbound after second?", "type": "main", "index": 0 }]]
    },
    "Supabase: inbound after second?": {
      "main": [[{ "node": "Parse reply check 2", "type": "main", "index": 0 }]]
    },
    "Parse reply check 2": {
      "main": [[{ "node": "IF replied after 2nd?", "type": "main", "index": 0 }]]
    },
    "IF replied after 2nd?": {
      "main": [
        [{ "node": "Supabase: stopped (replied after 2nd)", "type": "main", "index": 0 }],
        [{ "node": "Send final WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Send final WhatsApp": {
      "main": [[{ "node": "Supabase: log final outbound", "type": "main", "index": 0 }]]
    },
    "Supabase: log final outbound": {
      "main": [[{ "node": "Supabase: completed (no reply)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
